---
import Layout from "../layouts/Layout.astro";
import Main from "../components/container/Main.astro";
---

<Layout title="About">
  <Main>
    <h1 class="text-3xl font-bold underline">This is about!</h1>
  </Main>
</Layout>
