---
import Layout from "../layouts/Layout.astro";
import Button from '../components/button/Button.astro'
---

<Layout title="Home">
  <main>
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
    
    <Button>Aceee</Button>
  </main>
</Layout>

<script>
  import '../js/script';
</script>